<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.alex.stundenplan"
    android:configChanges="orientation"
    android:versionCode="19"
    android:versionName="1.7.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:configChanges="orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/FHBTheme" >

        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".stundenplan.PlanActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".helpClasses.DrawerActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".iq.EventActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".iq.EventDetailActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

        <activity android:name=".LoginActivity">

        </activity>


        <activity
            android:name=".mensa.MensaActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

    </application>

</manifest>
