<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.alex.stundenplan"
    android:configChanges="orientation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:configChanges="orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FHBCampusAppTheme" >

        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".stundenplan.PlanActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".helpClasses.DrawerActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".iq.EventActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".iq.EventDetailActivity"
            android:configChanges="orientation"
            android:noHistory="true" >
        </activity>

        <activity android:name=".LoginActivity">

        </activity>


        <activity
            android:name=".mensa.MensaActivity_"
            android:configChanges="orientation"
            android:label="@string/fhb_mensa"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".mensa.MensaWidget" android:label="@string/fhb_mensa">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_mensa"/>
        </receiver>

    </application>

</manifest>
